# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv
api/sample_data/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
